body{word-wrap: break-word;word-break: break-all}
pre{white-space: pre-wrap}
.icondiv:hover{
    background-color: #86cfda;
    cursor: pointer;
}
.navztop{
    z-index: 9100;
}
.zindex1070{z-index:1070}
.zindex1060{z-index:1060}
.overbg{background-color:#cbdded}