{include file="index/header" /}
<form method="get">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-light">{:lang('Keyword')}</div>
                </div>
                <input type="text" name="guanjianzi" class="form-control">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light mb-2">{:lang('Search')}</button>
        </div>
    </div>
</form>
<form>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">{:lang('Title')}</th>
            <th scope="col" class="text-center">{:lang('Type')}</th>
            <th scope="col" class="text-center">{:lang('Nickname')}</th>
            <th scope="col" class="text-center">{:lang('Release time')}</th>
            <th scope="col" class="text-center">{:lang('Reading volume')}</th>
            <th scope="col" class="text-center">{:lang('Review')}</th>
            {if condition="$mtype >= 10"}
            <th scope="col" class="text-center">{:lang('Section top')}</th>
            <th scope="col" class="text-center">{:lang('Section recommendation')}</th>
            <th scope="col" class="text-center">{:lang('Add fine')}</th>
            {/if}
            {if condition="$mtype >= 15"}
            <th scope="col" class="text-center">{:lang('Delete')}</th>
            {/if}
        </tr>
        </thead>
        <tbody>
        {volist name="catfishcms" id="vo"}
        <tr>
            <td><a class="text-info" href="{:Url('index/Index/post',['find'=>$vo.id])}" target="_blank">{$vo.biaoti}</a>{if condition="$vo.annex eq 1"}&nbsp;<i class="fa fa-paperclip text-info"></i>{/if}</td>
            <td class="text-center">{$vo.tietype}</td>
            <td>{$vo.nicheng}</td>
            <td class="text-center">{$vo.fabushijian}</td>
            <td class="text-center">{$vo.yuedu}</td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="review_{$vo.id}" class="custom-control-input"{if $vo.review == 1} checked{/if}><label class="custom-control-label" for="review_{$vo.id}"></label>
                </div>
            </td>
            {if condition="$mtype >= 10"}
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="istop_{$vo.id}" class="custom-control-input"{if $vo.istop == 1} checked{/if}{if condition="$vo.banzhu < 10"} disabled{/if}><label class="custom-control-label" for="istop_{$vo.id}"></label>
                </div>
            </td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="recommended_{$vo.id}" class="custom-control-input"{if $vo.recommended == 1} checked{/if}{if condition="$vo.banzhu < 10"} disabled{/if}><label class="custom-control-label" for="recommended_{$vo.id}"></label>
                </div>
            </td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="jingpin_{$vo.id}" class="custom-control-input"{if $vo.jingpin == 1} checked{/if}{if condition="$vo.banzhu < 10"} disabled{/if}><label class="custom-control-label" for="jingpin_{$vo.id}"></label>
                </div>
            </td>
            {/if}
            {if condition="$mtype >= 15"}
            <td class="text-center">
                <a class="{if condition="$vo.banzhu >= 15"}confirm text-info{else /}text-black-50{/if}" href="#!"><i class="fa fa-trash-o"></i><i class="fa fa-refresh fa-spin ml-2 d-none"></i></a>
                <input type="hidden" value="{$vo.id}">
            </td>
            {/if}
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination justify-content-center mb-4">
        {$pages}
    </ul>
</nav>
<div class="d-none" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="d-none" id="bukehuifu">{:lang('Are you sure you want to delete it? It cannot be recovered after deletion!')}</div>
<script src="{$domain}public/common/js/list.js"></script>
<script src="{$domain}public/common/js/user/forummainpost.js"></script>
{include file="index/footer" /}