{include file="index/header" /}
<div class="row">
    <div class="col-12 col-sm-4 col-md-3 text-center">
        <a href="{:Url('user/Index/myicon')}"><img src="{$touxiang}" class="rounded img-fluid" style="max-height: 128px"></a>
    </div>
    <div class="col-12 col-sm-8 col-md-9">
        <div class="mb-2 h5"><span class="text-secondary">{:lang('Username')}：</span><span class="mr-3">{$user}</span>(<span class="ml-1 text-secondary h6">{$info.dengjiming}</span><span class="ml-2 mr-1 text-secondary">LV&nbsp;{$info.dengji}</span>){if condition="$info.isvip eq 1"}<span class="text-warning ml-3 font-weight-bold">VIP</span>{/if}</div>
        <div class="mb-2 h5"><span class="text-secondary">{:lang('Nickname')}：</span>{$info.nicheng}<a href="{:Url('user/Index/myprofile')}" class="text-success ml-3"><i class="fa fa-pencil-square-o"></i><span class="h6">{:lang('Change nickname')}</span></a></div>
        <div class="mb-2 h5"><span class="text-secondary">{:lang('Registration date')}：</span>{$info.createtime}</div>
        <div class="mb-2 h5"><span class="text-secondary">{:lang('Last login time')}：</span>{$info.lastlogin}</div>
    </div>
</div>
<hr>
{notempty name="info.viptixing"}
<div class="row">
    <div class="col">
        <div><a class="text-danger" href="{:Url('user/Index/vipmember')}">{$info.viptixing}</a></div>
    </div>
</div>
{/notempty}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="mb-2"><span class="text-secondary">{:lang('Your identity')}：</span>{$info.shenfen}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mb-2"><span class="text-secondary">{:lang('Your position on this site')}：</span>{$info.zhiwu}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mb-2"><span class="text-secondary">{:lang('The number of points you have')}：</span>{$info.jifen}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mb-2"><span class="text-secondary">{:lang('The number of forum coins you own')}：</span>{$info.jinbi}</div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mb-2"><span class="text-secondary">{:lang('You have posted ')}</span>{$info.fatie}<span class="text-secondary">{:lang(' total posts')}</span></div>
    </div>
    <div class="col-12 col-md-6">
        <div class="mb-2"><span class="text-secondary">{:lang('You participated in ')}</span>{$info.pinglun}<span class="text-secondary">{:lang(' discussions')}</span></div>
    </div>
</div>
<hr>
<div class="row mb-3">
    <div class="col">
        <div class="h5 font-weight-bold">{:lang('Now you can')}</div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-4 text-center mb-3">
        <a class="btn btn-outline-info px-5" href="{:Url('user/Index/newpost')}">{:lang('Send new posts')}</a>
    </div>
    <div class="col-12 col-md-4 text-center mb-3">
        <a class="btn btn-outline-info px-3" href="{:Url('user/Index/myprofile')}">{:lang('Modify your information')}</a>
    </div>
    <div class="col-12 col-md-4 text-center mb-3">
        <a class="btn btn-outline-info px-5" href="{:Url('user/Index/checkin')}">{:lang('Check in')}</a>
    </div>
</div>
{include file="index/footer" /}