{include file="index/header" /}
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>{:lang('Section selection')}&nbsp;<b><span class="text-info">*</span></b></label>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                        {:lang('Please select which section to publish to')}
                    </button>
                    {notempty name="fenlei"}
                    <div class="dropdown-menu border-0 overflow-auto" style="background-color: #d7eef1;z-index: 9010;max-height: 98vh">
                        {volist name="fenlei" id="vo"}
                        <a class="dropdown-item{if $vo.disabled == 1} disabled{/if}" href="#" data-val="{$vo.id}">{$vo.level}{$vo.sname}</a>
                        {/volist}
                    </div>
                    {/notempty}
                </div>
                <input type="hidden" name="sid" value="0">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{:lang('Type selection')}&nbsp;<b><span class="text-info">*</span></b></label>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                        {:lang('Please choose the type')}
                    </button>
                    <div class="dropdown-menu border-0" style="background-color: #d7eef1;z-index: 9010">
                        {volist name="tieleixing" id="vo"}
                        <a class="dropdown-item" href="#" data-val="{$vo.id}">{$vo.tpname}</a>
                        {/volist}
                    </div>
                </div>
                <input type="hidden" name="tietype" value="0">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{:lang('Title')}&nbsp;<b><span class="text-info">*</span></b></label>
        <input type="text" name="biaoti" maxlength="100" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Title')}">
    </div>
    <div class="form-group">
        <label>{:lang('Details')}&nbsp;<b><span class="text-info">*</span></b></label>
        <textarea class="form-control hidden" rows="3" id="zhengwen" name="zhengwen"></textarea>
        <input type="hidden" name="zhaiyao" id="zhaiyao" value="">
        <small class="form-text text-muted">{:lang('Please enter the new post content above')}</small>
    </div>
    {if condition="$forum.fujian eq 1"}
    <div class="form-group">
        <label>{:lang('Annex')}</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="fujian" name="fujian">
            <label class="custom-file-label" for="fujian" data-browse="{:lang('Browse')}">{:lang('Select a file')}</label>
        </div>
    </div>
    {/if}
    {if condition="$needvcode eq 1"}
    <div class="form-group">
        <label>{:lang('Captcha')}&nbsp;<b><span class="text-info">*</span></b></label>
        <div><img class="img-fluid" style="cursor: pointer;" src="{:captcha_src()}" id="captcha" alt="captcha" />&nbsp;<a href="#!" id="resetcaptcha" class="text-info text-decoration-none">{:lang('Can not see clearly')}</a></div>
        <input type="text" class="form-control" name="captcha" id="captchain" placeholder="{:lang('Captcha')}">
    </div>
    {/if}
    <div class="text-center mb-5">
        <input type="hidden" name="verification" value="{$verification}">
        <button type="button" id="formsubmit" class="btn btn-info{if condition="$forum.fujian eq 0"} submit{/if}">{:lang('Submit')}<i class="fa fa-refresh fa-spin ml-2 d-none"></i></button>
    </div>
</form>
<div class="d-none" id="upload_handyeditor_url">{:Url('user/Index/uploadhandyeditor')}</div>
<div class="d-none" id="sizeError">{:lang('Cannot upload images larger than 2M')}</div>
<div class="d-none" id="typeError">{:lang('Can only upload images in gif, png, jpg, jpeg format')}</div>
<div class="d-none" id="daitupian">{$forum.tupian}</div>
<div class="d-none" id="dailianjie">{$forum.lianjie}</div>
<script type="text/javascript" src="{$domain}public/common/HandyEditor/HandyEditor.min.js"></script>
<script src="{$domain}public/common/js/jqueryupload.js"></script>
<script src="{$domain}public/common/js/user/sendnewposts.js"></script>
{include file="index/footer" /}