{include file="index/header" /}
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>{:lang('Section selection')}&nbsp;<b><span class="text-info">*</span></b></label>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                        {:lang('Please select which section to publish to')}
                    </button>
                    {notempty name="fenlei"}
                    <div class="dropdown-menu border-0 overflow-auto" style="background-color: #d7eef1;z-index: 9010;max-height: 98vh">
                        {volist name="fenlei" id="vo"}
                        <a class="dropdown-item{if $vo.disabled == 1} disabled{/if}" href="#" data-val="{$vo.id}">{$vo.level}{$vo.sname}</a>
                        {/volist}
                    </div>
                    {/notempty}
                </div>
                <input type="hidden" name="sid" value="0">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{:lang('Type selection')}&nbsp;<b><span class="text-info">*</span></b></label>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                        {:lang('Please choose the type')}
                    </button>
                    <div class="dropdown-menu border-0" style="background-color: #d7eef1;z-index: 9010">
                        {volist name="tieleixing" id="vo"}
                        <a class="dropdown-item" href="#" data-val="{$vo.id}">{$vo.tpname}</a>
                        {/volist}
                    </div>
                </div>
                <input type="hidden" name="tietype" value="0">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>{:lang('Title')}&nbsp;<b><span class="text-info">*</span></b></label>
        <input type="text" name="biaoti" maxlength="100" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Title')}">
    </div>
    <div class="form-group">
        <label>{:lang('Details')}&nbsp;<b><span class="text-info">*</span></b></label>
        <textarea class="form-control hidden" rows="3" id="zhengwen" name="zhengwen"></textarea>
        <input type="hidden" name="zhaiyao" id="zhaiyao" value="">
        <small class="form-text text-muted">{:lang('Please enter the new post content above')}</small>
    </div>
    {if condition="$forum.fujian eq 1"}
    <div class="form-group">
        <label>{:lang('Annex')}</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="fujian" name="fujian">
            <label class="custom-file-label" for="fujian" data-browse="{:lang('Browse')}">{:lang('Select a file')}</label>
        </div>
    </div>
    {/if}
    {if condition="$forum.shipin eq 1"}
    <div class="form-group">
        <label>{:lang('Video')}</label>
        <div id="shipindiv" class="d-none">
            <div class="float-left">
                <span class="mr-2 text-info"><i class="fa fa-film" aria-hidden="true"></i></span>
                <span id="shipinnameshow"></span>
            </div>
        </div>
        <div class="custom-file">
            <input type="hidden" name="shipinname" id="shipinname" value="">
            <input type="hidden" name="shipinurl" id="shipinurl" value="">
            <input type="file" class="custom-file-input" id="shipin" name="shipin">
            <label class="custom-file-label" for="shipin" data-browse="{:lang('Browse')}">{:lang('Select a file')}</label>
        </div>
        <small class="form-text text-muted">{:lang('Maximum uploadable file size allowed by the server')}: {$maxfilesize}</small>
    </div>
    {/if}
    {if condition="$forum.jifen eq 1"}
    <div class="form-group">
        <label>{:lang('Points type')}</label>
        <select class="form-control" name="jifenleixing" id="jifenleixing">
            <option value="0">{:lang('No points required')}</option>
            <option value="1">{:lang('Points are required to view posts')}</option>
            {if condition="$forum.fujian eq 1"}
            <option value="2">{:lang('Downloading attachments requires points')}</option>
            {/if}
            {if condition="$forum.shipin eq 1"}
            <option value="3">{:lang('Points are required to watch video')}</option>
            {/if}
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Integral')}</label>
        <input type="number" name="jifen" min="0" value="0" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Integral')}">
        <small class="form-text text-muted" id="jifentishi">{:lang('The number of points paid to the author to access this post')}</small>
    </div>
    {/if}
    {if condition="$needvcode eq 1"}
    <div class="form-group">
        <label>{:lang('Captcha')}&nbsp;<b><span class="text-info">*</span></b></label>
        <div><img class="img-fluid" style="cursor: pointer;" src="{:captcha_src()}" id="captcha" alt="captcha" />&nbsp;<a href="#!" id="resetcaptcha" class="text-info text-decoration-none">{:lang('Can not see clearly')}</a></div>
        <input type="text" class="form-control" name="captcha" id="captchain" placeholder="{:lang('Captcha')}">
    </div>
    {/if}
    <div class="text-center mb-5">
        <input type="hidden" id="tid" name="tid" value="0">
        <input type="hidden" name="verification" value="{$verification}">
        <button type="button" id="formsubmit" class="btn btn-info{if condition="$forum.fujian eq 0"} submit{/if}">{:lang('Submit')}<i class="fa fa-refresh fa-spin ml-2 d-none"></i></button>
    </div>
</form>
<div class="modal bd-example-modal-sm" id="videoModal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content p-3">
            <div>
                <i class="fa fa-refresh fa-spin text-info mr-2"></i> <span id="tishixinxi">{:lang('Uploading video, please wait...')}</span>
            </div>
        </div>
    </div>
</div>
<div class="d-none" id="upload_handyeditor_url">{:Url('user/Index/uploadhandyeditor')}</div>
<div class="d-none" id="sizeError">{:lang('Cannot upload images larger than 2M')}</div>
<div class="d-none" id="typeError">{:lang('Can only upload images in gif, png, jpg, jpeg format')}</div>
<div class="d-none" id="jifenpost">{:lang('The number of points paid to the author to access this post')}</div>
<div class="d-none" id="jifenattach">{:lang('Downloading attachments requires points paid to the author')}</div>
<div class="d-none" id="hasuploaded">{:lang('Video has been uploaded')}</div>
<div class="d-none" id="daitupian">{$forum.tupian}</div>
<div class="d-none" id="dailianjie">{$forum.lianjie}</div>
<script type="text/javascript" src="{$domain}public/common/HandyEditor/HandyEditor.min.js"></script>
<script src="{$domain}public/common/js/jqueryupload.js"></script>
<script src="{$domain}public/common/js/user/sendnewposts.js"></script>
{include file="index/footer" /}