{include file="index/header" /}
<form>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">{:lang('Title')}</th>
            <th scope="col">{:lang('Release time')}</th>
            <th scope="col" class="text-center">{:lang('Reading volume')}</th>
            <th scope="col" class="text-center">{:lang('Follow up quantity')}</th>
            <th scope="col" class="text-center">{:lang('Praise')}</th>
            <th scope="col" class="text-center">{:lang('Bad review')}</th>
            <th scope="col" class="text-center">{:lang('Modify')}</th>
            <th scope="col" class="text-center">{:lang('Delete')}</th>
        </tr>
        </thead>
        <tbody>
        {volist name="data" id="vo"}
        <tr>
            <td><a class="text-info" href="{:Url('index/Index/post',['find'=>$vo.id])}" target="_blank">{$vo.biaoti}</a>{if condition="$vo.annex eq 1"}&nbsp;<i class="fa fa-paperclip text-info"></i>{/if}{if condition="$vo.video eq 1"}&nbsp;<i class="fa fa-film text-info"></i>{/if}</td>
            <td>{$vo.fabushijian}</td>
            <td class="text-center">{$vo.yuedu}</td>
            <td class="text-center">{$vo.pinglunshu}</td>
            <td class="text-center">{$vo.zan}</td>
            <td class="text-center">{$vo.cai}</td>
            <td class="text-center">
                <a class="text-info" target="_blank" href="{:Url('user/Index/modifymainpost')}?c={$vo.id}"><i class="fa fa-edit"></i></a>
            </td>
            <td class="text-center">
                <a class="confirm text-info" href="#!"><i class="fa fa-trash-o"></i><i class="fa fa-refresh fa-spin ml-2 d-none"></i></a>
                <input type="hidden" value="{$vo.id}">
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination justify-content-center mb-4">
        {$pages}
    </ul>
</nav>
<div class="d-none" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="d-none" id="bukehuifu">{:lang('Are you sure you want to delete it? You can retrieve it from the recycling bin after deleting it')}</div>
<script src="{$domain}public/common/js/list.js"></script>
<script src="{$domain}public/common/js/user/mymainpost.js"></script>
{include file="index/footer" /}