<div class="text-secondary pt-3 clearfix">
    <h6 class="float-left">
        <i class="fa fa-edit"></i>
        {:lang('Posting area')}
    </h6>
    <i class="fa fa-minus-square-o float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/index')}" class="nav-link{if $current == 'sendnewposts'} bg-info text-white{else /} text-dark{/if}">{:lang('Send new posts')}</a>
        <a href="{:Url('user/Index/mymainpost')}" class="nav-link{if $current == 'mymainpost'} bg-info text-white{else /} text-dark{/if}">{:lang('My main post')}</a>
        <a href="{:Url('user/Index/myfollowuppost')}" class="nav-link{if $current == 'myfollowuppost'} bg-info text-white{else /} text-dark{/if}">{:lang('My follow-up post')}</a>
        <a href="{:Url('user/Index/recyclebin')}" class="nav-link{if $current == 'recyclebin'} bg-info text-white{else /} text-dark{/if}">{:lang('Recycle bin')}</a>
    </nav>
</div>
<div class="text-secondary pt-3 clearfix">
    <h6 class="float-left">
        <i class="fa fa-user"></i>
        {:lang('Personal information')}
    </h6>
    <i class="fa fa-minus-square-o float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/myicon')}" class="nav-link{if $current == 'myicon'} bg-info text-white{else /} text-dark{/if}">{:lang('My icon')}</a>
        <a href="{:Url('user/Index/myprofile')}" class="nav-link{if $current == 'myprofile'} bg-info text-white{else /} text-dark{/if}">{:lang('My Profile')}</a>
        <a href="{:Url('user/Index/changepassword')}" class="nav-link{if $current == 'changepassword'} bg-info text-white{else /} text-dark{/if}">{:lang('Change Password')}</a>
    </nav>
</div>
<div class="text-secondary pt-3 clearfix">
    <h6 class="float-left">
        <i class="fa fa-street-view"></i>
        {:lang('My daily')}
    </h6>
    <i class="fa fa-minus-square-o float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/checkin')}" class="nav-link{if $current == 'checkin'} bg-info text-white{else /} text-dark{/if}">{:lang('Check in')}</a>
    </nav>
</div>
<div class="text-secondary pt-3 clearfix">
    <h6 class="float-left">
        <i class="fa fa-paw"></i>
        {:lang('My footprint')}
    </h6>
    <i class="fa fa-minus-square-o float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/mycollection')}" class="nav-link{if $current == 'mycollection'} bg-info text-white{else /} text-dark{/if}">{:lang('My collection')}</a>
        <a href="{:Url('user/Index/postsvisited')}" class="nav-link{if $current == 'postsvisited'} bg-info text-white{else /} text-dark{/if}">{:lang('Posts visited')}</a>
        <a href="{:Url('user/Index/pointspaidposts')}" class="nav-link{if $current == 'pointspaidposts'} bg-info text-white{else /} text-dark{/if}">{:lang('Points paid posts')}</a>
        <a href="{:Url('user/Index/likedposts')}" class="nav-link{if $current == 'likedposts'} bg-info text-white{else /} text-dark{/if}">{:lang('Liked posts')}</a>
        <a href="{:Url('user/Index/dislikedpost')}" class="nav-link{if $current == 'dislikedpost'} bg-info text-white{else /} text-dark{/if}">{:lang('Disliked post')}</a>
        <a href="{:Url('user/Index/likedfollow')}" class="nav-link{if $current == 'likedfollow'} bg-info text-white{else /} text-dark{/if}">{:lang('Liked follow')}</a>
        <a href="{:Url('user/Index/dislikedfollow')}" class="nav-link{if $current == 'dislikedfollow'} bg-info text-white{else /} text-dark{/if}">{:lang('Disliked follow')}</a>
    </nav>
</div>
<div class="text-secondary pt-3 clearfix">
    <h6 class="float-left">
        <i class="fa fa-money"></i>
        {:lang('My wealth')}
    </h6>
    <i class="fa fa-minus-square-o float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/myscores')}" class="nav-link{if $current == 'myscores'} bg-info text-white{else /} text-dark{/if}">{:lang('My scores')}</a>
        <a href="{:Url('user/Index/earnpoints')}" class="nav-link{if $current == 'earnpoints'} bg-info text-white{else /} text-dark{/if}">{:lang('Earn points')}</a>
        <a href="{:Url('user/Index/pointsbill')}" class="nav-link{if $current == 'pointsbill'} bg-info text-white{else /} text-dark{/if}">{:lang('Points bill')}</a>
    </nav>
</div>
{if condition="$isModerator == 1"}
<div class="text-secondary pt-3 clearfix">
    <h6 class="float-left">
        <i class="fa fa-gavel"></i>
        {:lang('I am the moderator')}
    </h6>
    <i class="fa fa-minus-square-o float-right"></i>
</div>
<div>
    <nav class="nav flex-column">
        <a href="{:Url('user/Index/forummainpost')}" class="nav-link{if $current == 'forummainpost'} bg-info text-white{else /} text-dark{/if}">{:lang('Forum main post')}</a>
        <a href="{:Url('user/Index/followingupsection')}" class="nav-link{if $current == 'followingupsection'} bg-info text-white{else /} text-dark{/if}">{:lang('Following-up of the section')}</a>
        <a href="{:Url('user/Index/toppost')}" class="nav-link{if $current == 'toppost'} bg-info text-white{else /} text-dark{/if}">{:lang('Top post')}</a>
        <a href="{:Url('user/Index/recommendedpost')}" class="nav-link{if $current == 'recommendedpost'} bg-info text-white{else /} text-dark{/if}">{:lang('Recommended post')}</a>
        <a href="{:Url('user/Index/finepost')}" class="nav-link{if $current == 'finepost'} bg-info text-white{else /} text-dark{/if}">{:lang('Fine post')}</a>
    </nav>
</div>
{/if}
<br>