{include file="index/header" /}
<form>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 90px;">
                <input type="hidden" name="paixu" value="paixu">
                <input type="hidden" name="verification" value="{$verification}">
                <button type="button" class="btn btn-info btn-sm submit"><i class="fa fa-sort-numeric-asc"></i>&nbsp;{:lang('Sort')}<i class="fa fa-refresh fa-spin ml-2 d-none"></i></button>
            </th>
            <th scope="col" class="text-center">{:lang('Slide name')}</th>
            <th scope="col" class="text-center">{:lang('Slide link')}</th>
            <th scope="col" class="text-center">{:lang('Slide picture')}</th>
            <th scope="col" class="text-center">{:lang('Slide group')}</th>
            <th scope="col" class="text-center">{:lang('Whether to display')}</th>
            <th scope="col" class="text-center">{:lang('Modify')}</th>
            <th scope="col" class="text-center">{:lang('Delete')}</th>
        </tr>
        </thead>
        <tbody>
        {volist name="slides" id="vo"}
        <tr>
            <td class="align-middle">
                <input type="text" value="{$vo.listorder}" name="{$vo.id}" class="form-control form-control-sm" maxlength="8" style="width: 90px;">
            </td>
            <th class="align-middle">{$vo.mingcheng}</th>
            <td class="text-break align-middle">{$vo.lianjie}</td>
            <td class="align-middle text-center"><img src="{$vo.tupian}" style="max-height: 50px"></td>
            <td class="text-break text-center align-middle">{$vo.zuming}({$vo.width}×{$vo.height})</td>
            <td class="text-center align-middle">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="status_{$vo.id}" class="custom-control-input"{if $vo.status == 1} checked{/if}><label class="custom-control-label" for="status_{$vo.id}"></label>
                </div>
            </td>
            <td class="text-center align-middle">
                <a class="text-info" href="{:Url('admin/Index/modifyslide')}?c={$vo.id}"><i class="fa fa-edit"></i></a>
            </td>
            <td class="text-center align-middle">
                <a class="confirm text-info" href="#!"><i class="fa fa-trash-o"></i><i class="fa fa-refresh fa-spin ml-2 d-none"></i></a>
                <input type="hidden" value="{$vo.id}">
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination justify-content-center my-4">
        {$pages}
    </ul>
</nav>
<div class="d-none" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="d-none" id="bukehuifu">{:lang('Are you sure you want to delete it? It cannot be recovered after deletion!')}</div>
<script src="{$domain}public/common/js/allslides.js"></script>
{include file="index/footer" /}