            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sidebarModal" tabindex="-1">
    <div class="modal-dialog">
    </div>
</div>
<div class="fixed-bottom text-right text-light"><a class="text-light" id="jianyuluntan" href="http://www.jianyuluntan.com" target="_blank">{$jianyu}&nbsp;{$zhichi}</a>&nbsp;</div>
<div class="d-none" id="jixu">{:lang('Continue')}</div>
<div class="d-none" id="quxiao">{:lang('Cancel')}</div>
<div class="d-none" id="chucuo">{:lang('Error')}</div>
<div class="d-none" id="queding">{:lang('Ok')}</div>
<div class="d-none" id="siteroot">{$root}</div>
<div class="d-none" id="remind">{$remind}</div>
<div class="d-none" id="verification">{$verification}</div>
<div class="d-none" id="domain">{$domain}</div>
<div class="d-none" id="jianyuluntanscrollpos">jianyuluntanscrolladmin</div>
<div class="d-none" id="bbn">1</div>
<script src="{$domain}public/common/js/popper.min.js"></script>
<script src="{$domain}public/common/js/bootstrap.min.js"></script>
<script src="{$domain}public/common/confirm/jquery-confirm.js"></script>
<script src="{$domain}public/common/js/jLos.js"></script>
<script src="{$domain}public/common/js/footer.js"></script>
</body>
</html>