{include file="index/header" /}
<form>
    <div class="form-group">
        <label>{:lang('Main post')}</label>
        <select class="form-control" name="tiezi">
            <option value="0"{if condition="$forum.tiezi eq 0"} selected{/if}>{:lang('Allow everyone to view')}</option>
            <option value="1"{if condition="$forum.tiezi eq 1"} selected{/if}>{:lang('Only allow login to view')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Annex')}</label>
        <select class="form-control" name="fujian">
            <option value="0"{if condition="$forum.fujian eq 0"} selected{/if}>{:lang('Allow regular users to send attachments')}</option>
            <option value="5"{if condition="$forum.fujian eq 5"} selected{/if}>{:lang('Allow internship moderators and above to send attachments')}</option>
            <option value="10"{if condition="$forum.fujian eq 10"} selected{/if}>{:lang('Allow sub-moderators and above to send attachments')}</option>
            <option value="15"{if condition="$forum.fujian eq 15"} selected{/if}>{:lang('Allow moderators and above to send attachments')}</option>
            <option value="20"{if condition="$forum.fujian eq 20"} selected{/if}>{:lang('Allow ordinary administrators and above to send attachments')}</option>
            <option value="25"{if condition="$forum.fujian eq 25"} selected{/if}>{:lang('Allow advanced administrators and above to send attachments')}</option>
            <option value="30"{if condition="$forum.fujian eq 30"} selected{/if}>{:lang('Only allow founders to send attachments')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Minimum user level allowed to upload attachments')}</label>
        <select class="form-control" name="fujiandj">
            {volist name="dengji" id="vo"}
            <option value="{$vo.jibie}"{if condition="$forum.fujiandj eq $vo.jibie"} selected{/if}>{$vo.djname}</option>
            {/volist}
        </select>
        <small class="form-text text-muted">{:lang('This level setting is only valid when allowing ordinary users to send attachments')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('Download attachment')}</label>
        <select class="form-control" name="fujiandwn">
            <option value="0"{if condition="$forum.fujiandwn eq 0"} selected{/if}>{:lang('Allow everyone to download attachments')}</option>
            <option value="5"{if condition="$forum.fujiandwn eq 5"} selected{/if}>{:lang('Only allow you to download attachments after login')}</option>
            <option value="10"{if condition="$forum.fujiandwn eq 10"} selected{/if}>{:lang('Only allow responses to download attachments')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Whether to allow uploading images when posting')}</label>
        <select class="form-control" name="tupian">
            <option value="0"{if condition="$forum.tupian eq 0"} selected{/if}>{:lang('Allow regular users to upload images')}</option>
            <option value="5"{if condition="$forum.tupian eq 5"} selected{/if}>{:lang('Allow internship moderators and above to upload images')}</option>
            <option value="10"{if condition="$forum.tupian eq 10"} selected{/if}>{:lang('Allow sub-moderators and above to upload images')}</option>
            <option value="15"{if condition="$forum.tupian eq 15"} selected{/if}>{:lang('Allow moderators and above to upload images')}</option>
            <option value="20"{if condition="$forum.tupian eq 20"} selected{/if}>{:lang('Allow normal administrators and above to upload images')}</option>
            <option value="25"{if condition="$forum.tupian eq 25"} selected{/if}>{:lang('Allow advanced administrators and above to upload images')}</option>
            <option value="30"{if condition="$forum.tupian eq 30"} selected{/if}>{:lang('Only allow the founder to upload images')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Minimum user level allowed to upload images')}</label>
        <select class="form-control" name="tupiandj">
            {volist name="dengji" id="vo"}
            <option value="{$vo.jibie}"{if condition="$forum.tupiandj eq $vo.jibie"} selected{/if}>{$vo.djname}</option>
            {/volist}
        </select>
        <small class="form-text text-muted">{:lang('This level setting is only valid when allowing normal users to upload images')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('Whether to allow links when posting')}</label>
        <select class="form-control" name="lianjie">
            <option value="0"{if condition="$forum.lianjie eq 0"} selected{/if}>{:lang('Allow ordinary users to send links')}</option>
            <option value="5"{if condition="$forum.lianjie eq 5"} selected{/if}>{:lang('Allow internship moderators and above to send links')}</option>
            <option value="10"{if condition="$forum.lianjie eq 10"} selected{/if}>{:lang('Allow sub-moderators and above to send links')}</option>
            <option value="15"{if condition="$forum.lianjie eq 15"} selected{/if}>{:lang('Allow moderators and above to send links')}</option>
            <option value="20"{if condition="$forum.lianjie eq 20"} selected{/if}>{:lang('Allow ordinary administrators and above to send links')}</option>
            <option value="25"{if condition="$forum.lianjie eq 25"} selected{/if}>{:lang('Allow advanced administrators and above to send links')}</option>
            <option value="30"{if condition="$forum.lianjie eq 30"} selected{/if}>{:lang('Only allow the founder to send links')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Minimum user level allowed to send links')}</label>
        <select class="form-control" name="lianjiedj">
            {volist name="dengji" id="vo"}
            <option value="{$vo.jibie}"{if condition="$forum.lianjiedj eq $vo.jibie"} selected{/if}>{$vo.djname}</option>
            {/volist}
        </select>
        <small class="form-text text-muted">{:lang('This level setting is only valid when allowing normal users to send links')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('Video')}</label>
        <select class="form-control" name="shipin">
            <option value="0"{if condition="$forum.shipin eq 0"} selected{/if}>{:lang('Allow regular users to post video')}</option>
            <option value="5"{if condition="$forum.shipin eq 5"} selected{/if}>{:lang('Allow internship moderators and above to post video')}</option>
            <option value="10"{if condition="$forum.shipin eq 10"} selected{/if}>{:lang('Allow sub-moderators and above to post video')}</option>
            <option value="15"{if condition="$forum.shipin eq 15"} selected{/if}>{:lang('Allow moderators and above to post video')}</option>
            <option value="20"{if condition="$forum.shipin eq 20"} selected{/if}>{:lang('Allow ordinary administrators and above to post video')}</option>
            <option value="25"{if condition="$forum.shipin eq 25"} selected{/if}>{:lang('Allow advanced administrators and above to post video')}</option>
            <option value="30"{if condition="$forum.shipin eq 30"} selected{/if}>{:lang('Only allow founders to post video')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Minimum user level allowed to post video')}</label>
        <select class="form-control" name="shipindj">
            {volist name="dengji" id="vo"}
            <option value="{$vo.jibie}"{if condition="$forum.shipindj eq $vo.jibie"} selected{/if}>{$vo.djname}</option>
            {/volist}
        </select>
        <small class="form-text text-muted">{:lang('This level setting is only valid when allowing ordinary users to post video')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('Watch the video')}</label>
        <select class="form-control" name="shipinkan">
            <option value="0"{if condition="$forum.shipinkan eq 0"} selected{/if}>{:lang('Allow everyone to watch')}</option>
            <option value="5"{if condition="$forum.shipinkan eq 5"} selected{/if}>{:lang('Only allow you to watch after login')}</option>
            <option value="10"{if condition="$forum.shipinkan eq 10"} selected{/if}>{:lang('Only allow responses to watch')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Integral')}</label>
        <select class="form-control" name="jifen">
            <option value="0"{if condition="$forum.jifen eq 0"} selected{/if}>{:lang('Allow ordinary users to set integral value')}</option>
            <option value="5"{if condition="$forum.jifen eq 5"} selected{/if}>{:lang('Allow internship moderators and above to set integral value')}</option>
            <option value="10"{if condition="$forum.jifen eq 10"} selected{/if}>{:lang('Allow sub-moderators and above to set integral value')}</option>
            <option value="15"{if condition="$forum.jifen eq 15"} selected{/if}>{:lang('Allow moderators and above to set integral value')}</option>
            <option value="20"{if condition="$forum.jifen eq 20"} selected{/if}>{:lang('Allow ordinary administrators and above to set integral value')}</option>
            <option value="25"{if condition="$forum.jifen eq 25"} selected{/if}>{:lang('Allow advanced administrators and above to set integral value')}</option>
            <option value="30"{if condition="$forum.jifen eq 30"} selected{/if}>{:lang('Only allow founders to set integral value')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Minimum user level allowed to set integral value')}</label>
        <select class="form-control" name="jifendj">
            {volist name="dengji" id="vo"}
            <option value="{$vo.jibie}"{if condition="$forum.jifendj eq $vo.jibie"} selected{/if}>{$vo.djname}</option>
            {/volist}
        </select>
        <small class="form-text text-muted">{:lang('This level setting is only valid when allowing ordinary users to set integral value')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('Forum coin')}</label>
        <select class="form-control" name="jinbi">
            <option value="0"{if condition="$forum.jinbi eq 0"} selected{/if}>{:lang('Allow ordinary users to set forum coins')}</option>
            <option value="5"{if condition="$forum.jinbi eq 5"} selected{/if}>{:lang('Allow internship moderators and above to set forum coins')}</option>
            <option value="10"{if condition="$forum.jinbi eq 10"} selected{/if}>{:lang('Allow sub-moderators and above to set forum coins')}</option>
            <option value="15"{if condition="$forum.jinbi eq 15"} selected{/if}>{:lang('Allow moderators and above to set forum coins')}</option>
            <option value="20"{if condition="$forum.jinbi eq 20"} selected{/if}>{:lang('Allow ordinary administrators and above to set forum coins')}</option>
            <option value="25"{if condition="$forum.jinbi eq 25"} selected{/if}>{:lang('Allow advanced administrators and above to set forum coins')}</option>
            <option value="30"{if condition="$forum.jinbi eq 30"} selected{/if}>{:lang('Only allow founders to set forum coins')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Minimum user level allowed to set forum coins')}</label>
        <select class="form-control" name="jinbidj">
            {volist name="dengji" id="vo"}
            <option value="{$vo.jibie}"{if condition="$forum.jinbidj eq $vo.jibie"} selected{/if}>{$vo.djname}</option>
            {/volist}
        </select>
        <small class="form-text text-muted">{:lang('This level setting is only valid when allowing ordinary users to set forum coins')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('VIP member')}</label>
        <select class="form-control" name="huiyuan">
            <option value="0"{if condition="$forum.huiyuan eq 0"} selected{/if}>{:lang('Allow ordinary users to set VIP members to view posts')}</option>
            <option value="5"{if condition="$forum.huiyuan eq 5"} selected{/if}>{:lang('Allow internship moderators and above to set VIP members to view posts')}</option>
            <option value="10"{if condition="$forum.huiyuan eq 10"} selected{/if}>{:lang('Allow sub-moderators and above to set VIP members to view posts')}</option>
            <option value="15"{if condition="$forum.huiyuan eq 15"} selected{/if}>{:lang('Allow moderators and above to set VIP members to view posts')}</option>
            <option value="20"{if condition="$forum.huiyuan eq 20"} selected{/if}>{:lang('Allow ordinary administrators and above to set VIP members to view posts')}</option>
            <option value="25"{if condition="$forum.huiyuan eq 25"} selected{/if}>{:lang('Allow advanced administrators and above to set VIP members to view posts')}</option>
            <option value="30"{if condition="$forum.huiyuan eq 30"} selected{/if}>{:lang('Only allow founders to set VIP members to view posts')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Minimum user level allowed to set VIP members to view posts')}</label>
        <select class="form-control" name="huiyuandj">
            {volist name="dengji" id="vo"}
            <option value="{$vo.jibie}"{if condition="$forum.huiyuandj eq $vo.jibie"} selected{/if}>{$vo.djname}</option>
            {/volist}
        </select>
        <small class="form-text text-muted">{:lang('This level setting is only valid when allowing ordinary users to set VIP members to view posts')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('New users need to verify the code before sending the first few posts')}</label>
        <input type="number" class="form-control" name="yanzhengzt" value="{$forum.yanzhengzt}">
    </div>
    <div class="form-group">
        <label>{:lang('New users need to verify the code before sending the first few reply posts')}</label>
        <input type="number" class="form-control" name="yanzhenggt" value="{$forum.yanzhenggt}">
    </div>
    <div class="form-group">
        <label>{:lang('How long does it take for users to post after they register?')}</label>
        <select class="form-control" name="shichangzt">
            <option value="Immediately"{if condition="$forum.shichangzt eq 'Immediately'"} selected{/if}>{:lang('Immediately')}</option>
            <option value="10 minutes"{if condition="$forum.shichangzt eq '10 minutes'"} selected{/if}>{:lang('10 minutes')}</option>
            <option value="20 minutes"{if condition="$forum.shichangzt eq '20 minutes'"} selected{/if}>{:lang('20 minutes')}</option>
            <option value="40 minutes"{if condition="$forum.shichangzt eq '40 minutes'"} selected{/if}>{:lang('40 minutes')}</option>
            <option value="1 hour"{if condition="$forum.shichangzt eq '1 hour'"} selected{/if}>{:lang('1 hour')}</option>
            <option value="2 hours"{if condition="$forum.shichangzt eq '2 hours'"} selected{/if}>{:lang('2 hours')}</option>
            <option value="3 hours"{if condition="$forum.shichangzt eq '3 hours'"} selected{/if}>{:lang('3 hours')}</option>
            <option value="5 hours"{if condition="$forum.shichangzt eq '5 hours'"} selected{/if}>{:lang('5 hours')}</option>
            <option value="10 hours"{if condition="$forum.shichangzt eq '10 hours'"} selected{/if}>{:lang('10 hours')}</option>
            <option value="20 hours"{if condition="$forum.shichangzt eq '20 hours'"} selected{/if}>{:lang('20 hours')}</option>
            <option value="1 day"{if condition="$forum.shichangzt eq '1 day'"} selected{/if}>{:lang('1 day')}</option>
            <option value="2 days"{if condition="$forum.shichangzt eq '2 days'"} selected{/if}>{:lang('2 days')}</option>
            <option value="3 days"{if condition="$forum.shichangzt eq '3 days'"} selected{/if}>{:lang('3 days')}</option>
            <option value="4 days"{if condition="$forum.shichangzt eq '4 days'"} selected{/if}>{:lang('4 days')}</option>
            <option value="5 days"{if condition="$forum.shichangzt eq '5 days'"} selected{/if}>{:lang('5 days')}</option>
            <option value="6 days"{if condition="$forum.shichangzt eq '6 days'"} selected{/if}>{:lang('6 days')}</option>
            <option value="7 days"{if condition="$forum.shichangzt eq '7 days'"} selected{/if}>{:lang('7 days')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('How long does it take for users to reply to posts after they register?')}</label>
        <select class="form-control" name="shichanggt">
            <option value="Immediately"{if condition="$forum.shichangzt eq 'Immediately'"} selected{/if}>{:lang('Immediately')}</option>
            <option value="10 minutes"{if condition="$forum.shichangzt eq '10 minutes'"} selected{/if}>{:lang('10 minutes')}</option>
            <option value="20 minutes"{if condition="$forum.shichangzt eq '20 minutes'"} selected{/if}>{:lang('20 minutes')}</option>
            <option value="40 minutes"{if condition="$forum.shichangzt eq '40 minutes'"} selected{/if}>{:lang('40 minutes')}</option>
            <option value="1 hour"{if condition="$forum.shichangzt eq '1 hour'"} selected{/if}>{:lang('1 hour')}</option>
            <option value="2 hours"{if condition="$forum.shichangzt eq '2 hours'"} selected{/if}>{:lang('2 hours')}</option>
            <option value="3 hours"{if condition="$forum.shichangzt eq '3 hours'"} selected{/if}>{:lang('3 hours')}</option>
            <option value="5 hours"{if condition="$forum.shichangzt eq '5 hours'"} selected{/if}>{:lang('5 hours')}</option>
            <option value="10 hours"{if condition="$forum.shichangzt eq '10 hours'"} selected{/if}>{:lang('10 hours')}</option>
            <option value="20 hours"{if condition="$forum.shichangzt eq '20 hours'"} selected{/if}>{:lang('20 hours')}</option>
            <option value="1 day"{if condition="$forum.shichangzt eq '1 day'"} selected{/if}>{:lang('1 day')}</option>
            <option value="2 days"{if condition="$forum.shichangzt eq '2 days'"} selected{/if}>{:lang('2 days')}</option>
            <option value="3 days"{if condition="$forum.shichangzt eq '3 days'"} selected{/if}>{:lang('3 days')}</option>
            <option value="4 days"{if condition="$forum.shichangzt eq '4 days'"} selected{/if}>{:lang('4 days')}</option>
            <option value="5 days"{if condition="$forum.shichangzt eq '5 days'"} selected{/if}>{:lang('5 days')}</option>
            <option value="6 days"{if condition="$forum.shichangzt eq '6 days'"} selected{/if}>{:lang('6 days')}</option>
            <option value="7 days"{if condition="$forum.shichangzt eq '7 days'"} selected{/if}>{:lang('7 days')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Whether posting requires pre-review')}</label>
        <select class="form-control" name="preaudit">
            <option value="0"{if condition="$forum.preaudit eq 0"} selected{/if}>{:lang('No pre-audit required')}</option>
            <option value="1"{if condition="$forum.preaudit eq 1"} selected{/if}>{:lang('Pre-review required')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Does follow-up post require pre-review')}</label>
        <select class="form-control" name="fpreaudit">
            <option value="0"{if condition="$forum.fpreaudit eq 0"} selected{/if}>{:lang('No pre-audit required')}</option>
            <option value="1"{if condition="$forum.fpreaudit eq 1"} selected{/if}>{:lang('Pre-review required')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('Whether to allow points and forum coins exchange')}</label>
        <select class="form-control" name="jifenbi">
            <option value="0"{if condition="$forum.jifenbi eq 0"} selected{/if}>{:lang('Exchange not allowed')}</option>
            <option value="1"{if condition="$forum.jifenbi eq 1"} selected{/if}>{:lang('Only allow forum coins to be exchanged into points')}</option>
            <option value="2"{if condition="$forum.jifenbi eq 2"} selected{/if}>{:lang('Only allow points to be exchanged into forum coins')}</option>
            <option value="3"{if condition="$forum.jifenbi eq 3"} selected{/if}>{:lang('Allow points and forum coins swap')}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{:lang('VIP members free of payment')}</label>
        <select class="form-control" name="huiyuanmianfu">
            <option value="0"{if condition="$forum.huiyuanmianfu eq 0"} selected{/if}>{:lang('Need to pay')}</option>
            <option value="1"{if condition="$forum.huiyuanmianfu eq 1"} selected{/if}>{:lang('No payment')}</option>
        </select>
        <small class="form-text text-muted">{:lang('Set whether VIP members can access posts that require payment of points or forum coins for free')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('Whether to open the API')}</label>
        <select class="form-control" name="openapi" id="openapi">
            <option value="0"{if condition="$forum.openapi eq 0"} selected{/if}>{:lang('Not open')}</option>
            <option value="1"{if condition="$forum.openapi eq 1"} selected{/if}>{:lang('Open API')}</option>
        </select>
        <small class="form-text text-muted">{:lang('This function is only valid for authorized users')}</small>
    </div>
    {if condition="$extend eq 1"}
    <div class="form-group">
        <label>{:lang('Extension type name')}</label>
        <input type="text" class="form-control" name="kzleixing" value="{$forum.kzleixing}">
        <small class="form-text text-muted">{:lang('You can extend a post type')}</small>
    </div>
    {/if}
    <div class="form-group">
        <label>{:lang('Allow extensions to upload attachments')}</label>
        <textarea class="form-control" rows="5" name="geshi">{$forum.geshi}</textarea>
        <small class="form-text text-muted">{:lang('The extensions are separated by commas')}</small>
    </div>
    <div class="form-group">
        <label>{:lang('Sensitive word')}</label>
        <textarea class="form-control" rows="12" name="mingan">{$forum.mingan}</textarea>
        <small class="form-text text-muted">{:lang('Posting content with the above words will not allow posting, sensitive words separated by line breaks')}</small>
    </div>
    <div class="text-center mb-5">
        <input type="hidden" name="verification" value="{$verification}">
        <button type="button" id="formsubmit" class="btn btn-info submit">{:lang('Submit')}<i class="fa fa-refresh fa-spin ml-2 d-none"></i></button>
    </div>
</form>
<script src="{$domain}public/common/js/forumsettings.js"></script>
{include file="index/footer" /}