{include file="index/header" /}
<form class="form-inline">
    <div class="form-group">
        <small class="form-text text-muted">{:lang('You can directly modify the value of increasing the growth value')}</small>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{:lang('Serial number')}</th>
            <th scope="col">{:lang('Trigger event')}</th>
            <th scope="col">{:lang('Increase growth value')}</th>
        </tr>
        </thead>
        <tbody id="chengzhangtr">
        {volist name="growth" id="vo"}
        <tr>
            <th scope="row">{$vo.xh}</th>
            <td>{$vo.czname}</td>
            <td>
                <div class="form-group">
                    <input type="text" data-id="{$vo.id}" class="form-control-plaintext px-2 czzhi" value="{$vo.chengzhang}">
                </div>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
<script src="{$domain}public/common/js/growthsetting.js"></script>
{include file="index/footer" /}