{include file="index/header" /}
<form method="get">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-light">{:lang('Keyword')}</div>
                </div>
                <input type="text" name="guanjianzi" class="form-control">
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-light">{:lang('Username')}</div>
                </div>
                <input type="text" name="yonghuming" class="form-control">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light mb-2">{:lang('Search')}</button>
        </div>
    </div>
</form>
<form>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">{:lang('Title')}</th>
            <th scope="col" class="text-center">{:lang('Type')}</th>
            <th scope="col" class="text-center">{:lang('Username')}</th>
            <th scope="col" class="text-center">{:lang('Nickname')}</th>
            <th scope="col" class="text-center">{:lang('Release time')}</th>
            <th scope="col" class="text-center">{:lang('Reading volume')}</th>
            <th scope="col" class="text-center">{:lang('Review')}</th>
            <th scope="col" class="text-center">{:lang('Home page top')}</th>
            <th scope="col" class="text-center">{:lang('Home recommendation')}</th>
            <th scope="col" class="text-center">{:lang('Add fine')}</th>
            <th scope="col" class="text-center">{:lang('Delete')}</th>
        </tr>
        </thead>
        <tbody>
        {volist name="catfishcms" id="vo"}
        <tr>
            <td><a class="text-info" href="{:Url('index/Index/post',['find'=>$vo.id])}" target="_blank">{$vo.biaoti}</a>{if condition="$vo.annex eq 1"}&nbsp;<i class="fa fa-paperclip text-info"></i>{/if}{if condition="$vo.video eq 1"}&nbsp;<i class="fa fa-film text-info"></i>{/if}<i class="fa fa-eye ml-2 text-info viewpost" aria-hidden="true" data-toggle="modal" data-target="#postModal" title="{:lang('View post')}" data-pid="{$vo.id}" style="cursor: pointer"></i></td>
            <td class="text-center">{$vo.tietype}</td>
            <td>{$vo.yonghu}</td>
            <td>{$vo.nicheng}</td>
            <td class="text-center">{$vo.fabushijian}</td>
            <td class="text-center">{$vo.yuedu}</td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="review_{$vo.id}" class="custom-control-input"{if $vo.review == 1} checked{/if}><label class="custom-control-label" for="review_{$vo.id}"></label>
                </div>
            </td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="fstop_{$vo.id}" class="custom-control-input"{if $vo.fstop == 1} checked{/if}><label class="custom-control-label" for="fstop_{$vo.id}"></label>
                </div>
            </td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="fsrecommended_{$vo.id}" class="custom-control-input"{if $vo.fsrecommended == 1} checked{/if}><label class="custom-control-label" for="fsrecommended_{$vo.id}"></label>
                </div>
            </td>
            <td class="text-center">
                <div class="custom-control custom-switch">
                    <input type="checkbox" id="jingpin_{$vo.id}" class="custom-control-input"{if $vo.jingpin == 1} checked{/if}><label class="custom-control-label" for="jingpin_{$vo.id}"></label>
                </div>
            </td>
            <td class="text-center">
                <a class="confirm text-info" href="#!"><i class="fa fa-trash-o"></i><i class="fa fa-refresh fa-spin ml-2 d-none"></i></a>
                <input type="hidden" value="{$vo.id}">
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination justify-content-center my-4">
        {$pages}
    </ul>
</nav>
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="postModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{:lang('Close')}</button>
            </div>
        </div>
    </div>
</div>
<div id="loading" class="d-none">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="d-none" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="d-none" id="bukehuifu">{:lang('Are you sure you want to delete it? It cannot be recovered after deletion!')}</div>
<script src="{$domain}public/common/js/list.js"></script>
<script src="{$domain}public/common/js/mainpost.js"></script>
{include file="index/footer" /}