{include file="index/header" /}
<form>
    <div class="form-group mt-4">
        <label>{:lang('Section name')}&nbsp;<b><span class="text-danger">*</span></b></label>
        <input type="text" name="sname" value="{$sort.sname}" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Section name')}">
    </div>
    <div class="form-group mt-4">
        <label>{:lang('Section alias')}</label>
        <input type="text" name="bieming" value="{$sort.bieming}" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Section alias')}">
        <small class="form-text text-muted">{:lang('The section alias is used for menu display, and the menu will use the section alias first')}</small>
    </div>
    <div class="form-group mt-4">
        <label>{:lang('Upper level section')}</label>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" id="parentbtn" type="button" data-toggle="dropdown">
                {:lang('As a first-level section')}
            </button>
            {notempty name="fenlei"}
            <div class="dropdown-menu border-0" id="parentdrop" style="background-color: #eef7f8">
                <a class="dropdown-item" href="#" data-val="0">{:lang('As a first-level section')}</a>
                {volist name="fenlei" id="vo"}
                <a class="dropdown-item" href="#" data-val="{$vo.id}">{$vo.level}{$vo.sname}</a>
                {/volist}
            </div>
            {/notempty}
        </div>
        <input type="hidden" id="parentid" name="parentid" value="{$sort.parentid}">
        <small class="form-text text-muted">{:lang('Please select a superior section')}</small>
    </div>
    <div class="form-group mt-4">
        <label>{:lang('Whether it is used for menu')}</label>
        <div class="custom-control custom-checkbox">
            <input name="ismenu" type="checkbox" class="custom-control-input" id="formenu"{if condition="$sort.ismenu eq 1"} checked{/if}>
            <label class="custom-control-label" for="formenu">{:lang('Used for menu')}</label>
        </div>
        <small class="form-text text-muted">{:lang('Checked will be used as an item in the menu')}</small>
    </div>
    <div class="form-group mt-4">
        <label>{:lang('Icon')}&nbsp;<small>[&nbsp;<a class="text-secondary" href="#!" data-toggle="modal" data-target="#iconsModal">{:lang('Select icon')}</a>&nbsp;]</small></label>
        <div id="iconselect" class="d-none">
            <div class="container">
                <div class="row">
                    <div class="col-5 col-md-3 p-2 border border-info rounded text-center">
                        <button type="button" id="closeicon" title="{:lang('Cancel')}" class="close float-right" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="selectedicon">{$sort.icons}</div>
                    </div>
                    <div class="col-7 col-md-5">
                        <label>{:lang('Adjust size')} (<span id="iconsize"></span>)</label>
                        <input id="changeicon" type="range" class="custom-range" min="3" max="150" step="1" value="32">
                    </div>
                </div>
            </div>
            <input name="icons" id="icons" value="" type="hidden">
            <div class="clearfix"></div>
        </div>
        <div id="iconinputdiv">
            <input name="icon" type="text" value="" id="iconinput" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Icon')}">
            <div class="d-none" id="iconid">{$sort.icon}</div>
            <small class="form-text text-muted">{:lang('The icon can be displayed on the menu item, please enter the HTML code of the icon')}</small>
        </div>
    </div>
    <div class="form-group mt-4">
        <label>{:lang('Whether to use link')}</label>
        <div class="custom-control custom-checkbox">
            <input name="islink" type="checkbox" class="custom-control-input" id="islink"{if condition="$sort.islink eq 1"} checked{/if}>
            <label class="custom-control-label" for="islink">{:lang('Use link')}</label>
        </div>
        <small class="form-text text-muted">{:lang('When checked, it will only serve as an external link to the menu')}</small>
    </div>
    <div class="form-group mt-4 d-none" id="linkurl">
        <label>{:lang('Link address')}</label>
        <input name="linkurl" type="text" value="{$sort.linkurl}" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Link address')}">
        <small class="form-text text-muted">{:lang('The link address starts with http:// or https://')}</small>
    </div>
    <div id="modulediv">
        <div class="form-group">
            <label>{:lang('Image of the section')}</label>
            <div>{if condition="$sort.image != ''"}<img src="{$domain}{$sort.image}" class="img-fluid">&nbsp;<a href="#!" class="text-muted" id="delimage" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{:lang('Delete')}" data-id="{$sort.id}"><i class="fa fa-trash mr-1"></i>{:lang('Delete')}<i class="fa fa-refresh fa-spin ml-2 d-none"></i></a>{/if}</div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image">
                <label class="custom-file-label" for="image" data-browse="{:lang('Browse')}">{:lang('Choose a picture')}</label>
            </div>
            <small class="form-text text-muted">{:lang('In order to ensure the front-end display effect, the width and height ratio of the pictures uploaded in each section should be as consistent as possible')}</small>
        </div>
        <div class="form-group">
            <label>{:lang('Whether posting requires pre-review')}</label>
            <select class="form-control" name="preaudit">
                <option value="0"{if condition="$sort.preaudit eq 0"} selected{/if}>{:lang('Use forum default settings')}</option>
                <option value="1"{if condition="$sort.preaudit eq 1"} selected{/if}>{:lang('Pre-review required')}</option>
                <option value="2"{if condition="$sort.preaudit eq 2"} selected{/if}>{:lang('No pre-audit required')}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{:lang('Does follow-up post require pre-review')}</label>
            <select class="form-control" name="fpreaudit">
                <option value="0"{if condition="$sort.fpreaudit eq 0"} selected{/if}>{:lang('Use forum default settings')}</option>
                <option value="1"{if condition="$sort.fpreaudit eq 1"} selected{/if}>{:lang('Pre-review required')}</option>
                <option value="2"{if condition="$sort.fpreaudit eq 2"} selected{/if}>{:lang('No pre-audit required')}</option>
            </select>
        </div>
        <div class="form-group mt-4">
            <label>{:lang('Whether it is used for modules')}</label>
            <div class="custom-control custom-checkbox">
                <input name="ismodule" type="checkbox" class="custom-control-input" id="formodules"{if condition="$sort.ismodule eq 1"} checked{/if}>
                <label class="custom-control-label" for="formodules">{:lang('Used for modules')}</label>
            </div>
            <small class="form-text text-muted">{:lang('Checked to be used for module generation')}</small>
        </div>
        <div class="form-group mt-4">
            <label>{:lang('Whether to include sub-blocks when used in a module')}</label>
            <div class="custom-control custom-checkbox">
                <input name="subclasses" type="checkbox" class="custom-control-input" id="subclasses"{if condition="$sort.subclasses eq 1"} checked{/if}>
                <label class="custom-control-label" for="subclasses">{:lang('Include sub-blocks')}</label>
            </div>
            <small class="form-text text-muted">{:lang('Checked to be used for module generation')}</small>
        </div>
        <div class="form-group mt-4">
            <label>{:lang('Is it set to virtual block?')}</label>
            <div class="custom-control custom-checkbox">
                <input name="virtual" type="checkbox" class="custom-control-input" id="virtualblock"{if condition="$sort.virtual eq 1"} checked{/if}>
                <label class="custom-control-label" for="virtualblock">{:lang('Set to virtual block')}</label>
            </div>
            <small class="form-text text-muted">{:lang('Virtual section does not store posts')}</small>
        </div>
        <div class="form-group mt-4">
            <label>{:lang('Keyword settings')}</label>
            <input name="guanjianzi" type="text" value="{$sort.guanjianzi}" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="{:lang('Please enter ')}{:lang('Keyword')}">
            <small class="form-text text-muted">{:lang('Separate keywords with commas')}</small>
        </div>
        <div class="form-group mt-4">
            <label>{:lang('Section description')}</label>
            <textarea name="description" class="form-control" rows="3">{$sort.description}</textarea>
        </div>
    </div>
    <div class="text-center mb-5">
        <input type="hidden" name="c" value="{$sort.id}">
        <input type="hidden" name="verification" value="{$verification}">
        <button type="button" id="formsubmit" class="btn btn-info">{:lang('Submit')}<i class="fa fa-refresh fa-spin ml-2 d-none"></i></button>
    </div>
</form>
<div class="modal fade" id="iconsModal" tabindex="-1" aria-labelledby="iconsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{:lang('Select icon')}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" id="iconlist">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-none" id="currenticon"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" class="btn btn-info" id="iconok">{:lang('Ok')}</button>
            </div>
        </div>
    </div>
</div>
<div class="d-none" id="currenticonempty">{:lang('You did not select any icons')}</div>
<div class="d-none" id="quedingshanchu">{:lang('Confirm to delete?')}</div>
<div class="d-none" id="bukehuifu">{:lang('Are you sure you want to delete it? It cannot be recovered after deletion!')}</div>
<script src="{$domain}public/common/js/jqueryupload.js"></script>
<script src="{$domain}public/common/js/newclassification.js"></script>
<script src="{$domain}public/common/js/modifyclassification.js"></script>
{include file="index/footer" /}