{include file="index/header" /}
<form method="get">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-light">{:lang('Username')}</div>
                </div>
                <input type="text" name="yonghuming" class="form-control">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light mb-2">{:lang('Search')}</button>
        </div>
    </div>
</form>
<form>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">{:lang('Username')}</th>
            <th scope="col">{:lang('Nickname')}</th>
            <th scope="col">{:lang('E-mail')}</th>
            <th scope="col">{:lang('Cellphone number')}</th>
            <th scope="col">{:lang('Expire date')}</th>
            <th scope="col" class="text-center">{:lang('Type of membership')}</th>
            <th scope="col" class="text-center">{:lang('User group')}</th>
        </tr>
        </thead>
        <tbody>
        {volist name="catfishcms" id="vo"}
        <tr>
            <td>{$vo.yonghu}</td>
            <td>{$vo.nicheng}</td>
            <td>{$vo.email}</td>
            <td>{$vo.shouji}</td>
            <td class="{if condition="$vo.expired == 1"}text-secondary{else /}text-success{/if}">{$vo.vipend}</td>
            <td class="text-center">{$vo.viptype}</td>
            <td class="text-center">
                <a href="#!" class="text-info xuqia">{:lang('Renew')}</a>
                <input type="hidden" value="{$vo.id}">
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</form>
<nav>
    <ul class="pagination justify-content-center my-4">
        {$pages}
    </ul>
</nav>
<div class="modal fade" id="vipmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{:lang('VIP member')}</h5>
                <button type="button" class="close closevip" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="huiyuanleixing">{:lang('Type of membership')}</label>
                        <select class="form-control" id="huiyuanleixing">
                            <option value="1">{:lang('Monthly membership')}</option>
                            <option value="2">{:lang('Annual membership')}</option>
                            <option value="3">{:lang('Permanent member')}</option>
                        </select>
                    </div>
                    <div class="form-group" id="huiyuanqixiandiv">
                        <label for="huiyuanqixian">{:lang('Membership period')}</label>
                        <input type="number" min="1" step="1" class="form-control" id="huiyuanqixian">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary closevip" data-dismiss="modal">{:lang('Cancel')}</button>
                <button type="button" id="huiyuanqixianok" class="btn btn-outline-info">{:lang('Ok')}<i class="fa fa-refresh fa-spin ml-2 d-none"></i></button>
            </div>
        </div>
    </div>
</div>
<script src="{$domain}public/common/js/list.js"></script>
<script src="{$domain}public/common/js/vipmember.js"></script>
{include file="index/footer" /}